.budget-label {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  color: #d1d3e2;
}

.budget-input {
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
}

.budget-error {
  padding: 5px;
  color: red;
}

#save-work-btn, #show-instruct-btn {
  margin-right: 0.35rem;
  margin-bottom: 10px;
}

#simpleCard button {
  border: 2px solid #4e6498;
}

#simpleCard button:focus {
  background-color: #a6a6a6;
  color: white;
  border: 2px solid #a6a6a6;
}

.progress-bar-buttons,
.progress-bar-divs {
  height: 4.8em;
  overflow: hidden;
  background-color: #f2f2f2;
  color: #b4b4b4;
  border: 3px solid #bfbfbf;

  font-size: 0.9rem;
  padding: 0 1em;
  text-align: center;
  overflow: hidden;
}

.progress-bar-buttons-active,
.progress-bar-divs-active {
  background-color: #bfbfbf;
  color: #f2f2f2;
  font-weight: bold;
}

.progress-bar-buttons-active,
.progress-bar-divs-active {
  background-color: rgb(78, 115, 223);
  border: 3px solid rgb(78, 115, 223);
}

.progress-bar-buttons-current-active,
.progress-bar-divs-current-active {
  background-color: rgb(78, 115, 223);
  color: #f2f2f2;

}

.progress-bar-buttons-current-active {
  border: 3px solid rgb(228, 26, 26);
}

.progress-bar-buttons {
  margin-left: 10px;
  width:300px;
}

.progress-bar-buttons:first-child {
  margin-left: 0;
}

.btn-secondary {
  background-color: #bfbfbf;
}

.progress-bar-divs {
  height: inherit;
  font-size: 1.5rem;

  padding: 0;
  display: flex;
  justify-content: center;
}

.progress-bar-divs>p {
  margin: 0 0 0 1em;
}

.access-controls {
  background-color: #fff;
  z-index: 100;
  background-color: #f6f6f6;
}

.padding-top-20 {
  padding-top: 20px;
}

.inherit-color {
  color: inherit;
}

.collapse.show>.card-body {
  min-height: 290px;
}

#pageSelector {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#survey-titles {
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#access-controls {
  position: fixed;
  padding: 0;
  left: 150px;
  right: 61px;
  top: 129px;
}

#surveyContainer {
  margin-top: 270px;
}

#google_translate_element>div>div>img {
  display: none;
}

.disable-choices {
  pointer-events: none;
  opacity: 0.8;
}

.disable-choices[type] {
  background-color: #ddd;
}

.skip-checkbox {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-60%, -50%);
  height: 35px;
  width: 35px;
  background-color: #eee;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.skip-checkbox::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 1.2rem;
  color: #fff;
  display: none;
}

.skip-checkbox:checked {
  background-color: green;
}

.skip-checkbox:checked::after {
  display: block;
}

.table-parent-event>td:nth-child(2) {
  color: #eeeeee;
}

.table-parent-event .btn-group {
  pointer-events: none;
  opacity: 0.2;
}

.table-parent-event input:not([type="checkbox"]) {
  pointer-events: none;
  background-color: #5553;
}

.policy-images {
  height: 2.4rem;
}

.health-policy-images {
  content: url("../img/health.png");
}

.tax-policy-images {
  content: url("../img/tax.png");
}

.business-agnostic-policy-images {
  content: url("../img/tech.png");
}

.custom-avg-input {
  width: 90px;
  text-align: center;
}

.custom-avg-p {
  font-size: 1.25rem;
  font-weight: bold;
}

.sv_q_required_text {
  display: none;
}

#surveyContainer h4 {
  display: none;
}

.collapse-button {
  background: inherit;
  border: none;
  outline: none;
  height: 100%;
}

.collapse-button::after,
.down-arrow::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  outline: none;
}

.collapse-button[aria-expanded="true"]::after {
  content: "\f106";
}

.collapse-button[aria-expanded="false"]::after,
.down-arrow::after {
  content: "\f107";
}

/* .sv_row:last-child thead th:last-child {
  width: 320px !important;
}
 */
.collapse>.sv_qstn_error_top {
  display: none !important;
}

[data-bind="css: question.cssContent"]>.alert {
  display: none;
}

.sv_row th:last-child {
  width: fit-content;
}

.survey-loading-modal-body {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#buttons-in-top {
  margin-left: 0 !important;
}

.diff-class {}

.non-applicable-activated {
  background-color: rgb(228, 26, 26);
}

.hide {
  display: none;
}

.view-avg {}

.disable-div {
  pointer-events: none;
}

.slider-container {
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
  width: 1200px;
  padding-bottom:5px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

/* Estilizar la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
  height: 10px;
}

/* Estilizar el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar */
  border-radius: 5px; /* Radio de los bordes del pulgar */
}

/* Cambiar el color del pulgar cuando se está desplazando */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el cursor sobre él */
}

.visible{
  display: block;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  scroll-behavior: smooth;
  width: 1000%;

}

.slider-item {
  flex: 0 0 calc(100% / 3);
  /* Muestra 3 secciones a la vez */
  width: 100%;
  height: 100px;
  /* Ajusta la altura según tus necesidades */
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.slider-arrow-left {
  left: 5px;
  margin-left: 20%
}

.slider-arrow-right {
  right: 5px;
  margin-right: 20%
}

/* Estilos para los checkboxes */
.additional-comment-checkbox input[type="checkbox"] {
  /* Estilos para reemplazar el aspecto por defecto del checkbox */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.additional-comment-checkbox input[type="checkbox"]:checked {
  /* Cambia el estilo del tick cuando está marcado */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M6.293 10.293L3.646 7.646a.5.5 0 01.708-.708L6.5 8.793l4.646-4.647a.5.5 0 01.708.708l-5 5a.5.5 0 01-.708 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

/* Estilos para los campos de texto de los Additional Comments */
.additional-comments-input {
  width: 250px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
  
}

#checkboxes {
  visibility: hidden;
}


/* Estilos para el contenedor principal */
#surveyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column; /* Alinea los elementos en columna */
}

/* Estilos para el contenedor de cada bloque additional-comment-container */
.survContainer {
  display: flex;
  flex-wrap: wrap; /* Asegura que los bloques se envuelvan en una nueva línea cuando no quepan en una sola fila */
  align-items: center;
}

/* Estilos para cada bloque additional-comment-container */
.additional-comment-container {
  display: flex;
  align-items: center;
  margin: 5px;
  min-width: 400px; /* Ancho mínimo para evitar que se descuadre con textos más largos */
  flex-basis: 100%; /* Ocupa el ancho completo */
  /*justify-content: center;*/
}

/* Estilo para el checkbox */
.additional-comment-container input[type="checkbox"] {
  margin-right: 10px;
}

.additional-comments-input {
  width: 70%;
}

/* Estilo para el DPS */
.additional-comment-container label {
  margin-right: 6px;
  min-width: 150px; 
}

/* Estilos para el contenedor de los botones de valoración */
.rating-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Estilos para el botón de valoración */
.additional-comment-container .rating-container button {
  border: none; /* Quitamos el borde */
  margin-left: 5px;
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Quitamos el contorno que aparece al hacer clic */
}

/* Estilo para el borde gris de los botones cuando se hace clic */
.additional-comment-container .rating-container button:active {
  border: 1px solid gray; /* Mostramos el borde al hacer clic */
}

/* Estilos para el botón de valoración seleccionado */
.additional-comment-container .rating-container button.selected {
  background-color: #ccc; /* Color de fondo cuando está seleccionado */
  border: 1px solid gray; /* Mostramos el borde cuando está seleccionado */
}

/* Estilos para el campo Additional Comments */
.additional-comments-input input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  width: 500px;
}

/* Estilo para el na-container */
.na-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin: 8px;
  background-color: #8080808a; 
  color: #0000008a; 
  height: 37px;
}


.na-container label {
  font-size: 14px;
  font-weight: bold;
  cursor: default; 
  text-align: center; 
  margin-top: 7px;
}

.sd-page{
  width: 200%;
  margin-left: -325px !important;
}

.sv-list__filter {
  display: none;
}

.sd-input[type="range"] {
  width: 200px;
}

.sd-input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 400px;  /* Ajustado */
  width: 250px;  /* Ajustado */
  max-width: 100%;
  margin: 19.2px 0 12.8px;  /* Ajustado */
  transition: box-shadow 0.2s ease-in-out;

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    & {
      overflow: hidden;
      height: 5px;  /* Ajustado */
      -webkit-appearance: none;
      appearance: none;
      background-color: #ddd;
    }
    &::-webkit-slider-runnable-track {
      height: 5px;  /* Igualado a la altura del slider */
      -webkit-appearance: none;
      transition: box-shadow 0.2s ease-in-out;
      color: transparent;
      background-color: transparent;
    }
    &::-webkit-slider-thumb {
      width: 15px;  /* Ajustado para ser un círculo perfecto */
      -webkit-appearance: none;
      height: 15px;  /* Ajustado para ser un círculo perfecto */
      cursor: pointer;
      background: #fff;
      box-shadow: -250px 0 0 240px #1597ff, inset 0 0 0 15px #1597ff;
      border-radius: 50%;  /* Hace que sea un círculo perfecto */
      margin-top: -5px;  /* Ajusta la posición vertical del pulgar */
      transition: box-shadow 0.2s ease-in-out;
      position: relative;
    }
    &:active::-webkit-slider-thumb {
      background: #fff;
      box-shadow: -272px 0 0 256px #1597ff, inset 0 0 0 2.4px #1597ff;  /* Ajustado */
    }
  }

  &::-moz-range-progress {
    background-color: #43e5f7; 
  }
  &::-moz-range-track {  
    background-color: #9a905d;
  }

  &::-ms-fill-lower {
    background-color: #43e5f7; 
  }
  &::-ms-fill-upper {  
    background-color: #9a905d;
  }

}



.dpsInfo{
  margin-bottom: -40px !important;
}


.tooltip-container {
  position: relative;
  display: inline-block;
}

.highlighted-text {
  font-weight: bold;
}

.tooltip-icon {
  cursor: pointer;
  color: #007BFF;
  font-size: 1.2em;
}

.tooltip-content {
  visibility: hidden;
  background-color: #555;
  color: #fff !important;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  width: 600px;
  bottom: 100%;
  left: 50%;
  margin-left: -300px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}
body a:link {
  color: black; 
  text-decoration: none; 
}
body a:hover {
  color: darkgray; 
}

.custom-panel-class {
  font-size: 22px;
}
.custom-question-class{
  font-size:22px;
}

.custom-view-class {
  font-size: 27px;
}
